<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WEA API</display-name>
	<!-- 
	<filter>
		<filter-name>Auth</filter-name>
		<filter-class>com.kalphix.wea.config.BasicAuthenticationProvider</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Auth</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	 -->
	
	<!-- 
	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.kalphix.wea</param-value>
		</init-param>

		<load-on-<init-param>startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	 -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>